---
import Layout   from '../layouts/Layout.astro';
import TaskCard from '../components/TaskCard.vue';

export async function getStaticPaths() {
  return [
    { params: { filter: 'active' } },
    { params: { filter: 'completed' } },
  ];
}

const { filter } = Astro.params;

const apiUrl = import.meta.env.PUBLIC_API_URL;
const res = await fetch(`${apiUrl}`);

const allTasks    = await res.json();
const tasks = (
  filter === 'active'
    ? allTasks.filter(t => !t.complete)
    : filter === 'completed'
      ? allTasks.filter(t => t.complete)
      : allTasks
).reverse();
---

<Layout>
  <div id="task-list" astro:partial class="task-list" data-filter={filter}>
    {tasks.map(task => (
      <div data-task-id={task.id}>
        <TaskCard client:visible task={task} />
      </div>
    ))}
  </div>
  <script type="module">
    const filter = document.getElementById('task-list')?.dataset.filter;
    import('/src/utils/patchDom.js').then(mod => mod.setupTaskEvents(filter));
  </script>
</Layout>
